<main>
   <div id="carousel" class="carousel carousel-fade">
       <div uib-carousel active="vmactive" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
           <div uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
               <img ng-src="{{slide.image}}" style="margin:auto;">
               <div class="carousel-caption">
                   <h4>Slide {{slide.id}}</h4>
                   <p>{{slide.text}}</p>
               </div>
           </div>
       </div>
   </div>
</main>
