<div class="container">
    <h1>Services</h1>
    <section id="services-box" class="services-box">
        <div class="services-box-list">
            <div class="services-box-list-left col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <h3>Interior Services</h3>
                <ul>
                    <li>- Reasonable prices - free estimate references on request.</li>
                    <li>- Over 30 years American and English experience.</li>
                    <li>- Excelent quality of work and customer service.</li>
                    <li>- Experience with work for company or residental.</li>
                    <li>- Bathroom Furniture.</li>
                    <li>- Bathroom Accessories.</li>
                    <li>- Free Standing Baths.</li>
                    <li>- Massage Baths.</li>
                    <li>- Sanitary Ware.</li>
                    <li>- Shower Enclosures.</li>
                    <li>- Shower Valves.</li>
                    <li>- Shower Trays.</li>
                </ul>
            </div>
            <div class="services-box-list-right col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h3>Company Profile</h3>
                <figure><img class="img-responsive" src="./app/resources/images/service-photo.jpg" alt="brendan-tiles" /></figure>
                <p>Accurate Tile provides product and installation services to contractors working on commercial projects. Our goal is to provide you with a proposal for your project that will meet your requirements. We will strive to offer you the best quality products and services for that project. All our showrooms are magnificently presented with fantastic arrays of bathroom and shower displays fully co-ordinated with matching tiles and accessories. Tubs & Tiles is a definite must see for anyone thinking of buying a new home or simply redecorating.</p>
            </div>
        </div>
    </section>
</div>
