.main-wrapper{
	padding-top: 96px;
}

.carousel {
  .carousel-inner {
    height: 500px;
    width: 100%;
    .item {
      display: block;
      position: absolute;
      opacity: 0;
      @include transition(1.3s ease-in-out opacity);
      &.active, &.next.left {
        opacity: 1;
      }
      &.next, &.active.left {
        opacity: 0;
      }
    }
  }
}