<img class="img-responsive" src="./app/resources/images/top-header.png" alt="brendan-tiles" />
<div class="container">
    <h1 translate="BRENDAN RALEIGH TILES & MARBLE"></h1>

	<div class="about-box">
    <h1>Precision Bathroom Installation London</h1>
    <p><strong>Precision tiling &amp; bathroom services have been providing a first&nbsp;class tiling and complete Bathroom Installation London for over 8 years; with a combined 30 year experience in this sector threw out the UK.</strong></p>
    <p>We deliver a second to none&nbsp;<a href="http://precisiontbs.com/tiling-london-bathroom-services/">service</a>&nbsp;–&nbsp;from the free consultation to the completion of your project&nbsp;–&nbsp;our main priority is 100% customer satisfaction.</p>
    <p>We look after every stage of your project from dismantling your old bathroom to the plumbing, plastering, tiling, electrical, joinery and painting involved in the project.</p>
    <p>We work all over London and undertake any project big or small – from a small bathroom refurbishments to large scale swimming pools in some of the most prestigious addresses in London.</p>
    <p>We also provide a complete wall &amp; floor tiling service for bathrooms, kitchens, living areas or any other tiling requirements that you may have in your home or business.</p>
    <p>We have a great relationship with our customers&nbsp;–&nbsp;who on request are happy to let future potential customer view the work we have done for them. This way you can see first-hand the high standard of workmanship and customer&nbsp;<a href="http://precisiontbs.com/tiling-london-bathroom-services/">service</a>&nbsp;we offer on every job we undertake.</p>
    <p>Precision Services for tiling &amp; bathroom&nbsp;installation –&nbsp;<a href="http://precisiontbs.com/precision-tiling-and-bathroom-services/">we look forward to&nbsp;hearing from you</a>&nbsp;and making your dream a reality.
    		</p></div>

</div>
</div>
