<img class="img-responsive" src="./app/resources/images/top-header.png" alt="brendan-tiles" />
<div class="container">
    <h1 translate="Brendan Raleigh - Tiles & Marble"></h1>
    <div class="about-box">
        <h2>Precision Bathroom Installation London</h2>
        <p>Precision tiling bathroom services and Extensions painting refurbishment. Bath Fitter will install a new bathtub or shower that fits within budget, without displacing tenants. Our custom solutions are based entirely on each client’s needs. Our acrylic liners and walls are durable and non-porous, which means they have great longevity and are easy to clean making them an ideal choice for your project. Bath Fitter’s unique installation process involves no demolition and bathrooms can be back in service in as little as one day.
        </p>
        <div class="about-box-cols-wrapp">
            <h3>Our Services List</h3>
            <div class="about-box-cols col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <figure>
                    <img class="img-responsive" src="./app/resources/images/about-1.jpg" alt="brendan-tiles" />
                </figure>
                <ul>
                    <li> - Bathroom installation</li>
                    <li> - Ceramic tiles</li>
                    <li> - Marble</li>
                    <li> - Natural Stone</li>
                    <li> - Wet Rooms Installation</li>
                </ul>
            </div>
            <div class="about-box-cols col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <figure>
                    <img class="img-responsive" src="./app/resources/images/about-2.jpg" alt="brendan-tiles" />
                </figure>
                <ul>
                    <li> - Plumbing Job</li>
                    <li> - Shower Installation</li>
                    <li> - Mosaic</li>
                    <li> - Limestone</li>
                    <li> - Carpentry</li>
                </ul>
            </div>
        </div>
        <p>
            From the tiling site's preparation to the final job clean up. We provide the tiling service of the highest quality using only the finest materials available for any room on your premises, from bathrooms to showrooms as well as kitchens and conservatories. We are specialized in fitting all types of tiles: ceramic, porcelain, natural stone, marble and travertine, mosaic ...
        </p>
    </div>
</div>
</div>
