contact {
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    padding: 30px 0;
    h1{
        padding: 15px 0;
        @media all and (max-width: 768px) {
            font-size: 26px;
        
    }
    }
    h2{
        margin: 0;
        @media all and (max-width: 768px) {
            font-size: 20px;
        }
    }
     h3{
        @media all and (max-width: 768px) {
            font-size: 18px;
        }
    }
    .contact-panel{
        width: 70%;
        margin: 0 auto;
    }
}

.contact {
    color: black;
}

.contact-box {
    padding: 50px 0 0 0;
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    padding-top: 50px;
    position: relative;
    min-height: 556px;
}

#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 768px;
    float: none;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    margin: 0 auto;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    .submit {
        float: left;
        width: 40%;
        margin: 45px 30% 0;
    }
}

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    float: left;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #000;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}


/* Icons ---------------------------------- */

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

.button-send {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-size: 24px;
    padding: 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

.button-send:hover {
    background-color: #fff;
    color: #000;
}

.submit:hover {
    color: #000;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.contact-thx-info-box {
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 999999;
    padding: 0;
    .contact-thx-info {
        color: green;
        padding: 0;
        margin: 0;
    }
}

.fade-in {
    -webkit-animation: fadein 10s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 10s;
    /* Firefox < 16 */
    -ms-animation: fadein 10s;
    /* Internet Explorer */
    -o-animation: fadein 10s;
    /* Opera < 12.1 */
    animation: fadein 10s;
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
