<div class="container">
    <h1>{{ vm.name }}</h1>
    <section id="contact-box" class="contact-box">
        <div class="padding">
            <div class="container_12">
                <div class="wrapper">
                    <div class="grid_12">
                        <div class="indent-left">
                            <h3 class="p2">Contact Form</h3>
                            <form action="contactformphp.php" id="contact-form" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <label><span class="text-form">Name:</span>
                                        <input name="name" type="text">
                                    </label>
                                    <label><span class="text-form">Email:</span>
                                        <input name="email" type="text">
                                    </label>
                                    <label><span class="text-form">Phone:</span>
                                        <input name="phone" type="text">
                                    </label>
                                    <div class="wrapper_form">
                                        <div class="text-form">Message:</div>
                                        <textarea name="message"></textarea>
                                    </div>
                                    <div class="buttons">
                                        <a class="button" href="#" onclick="document.getElementById('contact-form').reset()">Clear</a>
                                        <a class="button" href="#" onclick="document.getElementById('contact-form').submit()">Send</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
